<html>
<head>
    <title>Minecraft usage</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Minecraft usage</h1>

    <h3>today</h3>
    <img src="{{ url_for('static', path='/img/minecraft-usage-daily.png') }}">

    <h3>last week</h3>
    <img src="{{ url_for('static', path='/img/minecraft-usage-weekly.png') }}">

    <h3>last month</h3>
    <img src="{{ url_for('static', path='/img/minecraft-usage-monthly.png') }}">

    <h3>alltime</h3>
    <img src="{{ url_for('static', path='/img/minecraft-usage-alltime.png') }}">
</body>
</html>
