#!/bin/bash

LOG={{ minecraft_logdir }}/latest.log
DATE=$(date +%Y-%m-%d)
MODDATE=$(stat -c '%y' ${LOG} | cut -f1 -d' ')

if [ "${DATE}" != "${MODDATE}" ]; then
    # probably server crash or similar
    echo "Latest modification date ${MODDATE} is not current date ${DATE}, exiting" >&2
    exit
fi

export DATABASE_URL=sqlite:///{{ app_dir }}/minecraft-usage.sqlite
export STATICDIR={{ app_dir }}/static
{{ app_dir }}/virt/bin/mcusage-parse-log --date ${DATE} ${LOG}
{{ app_dir }}/virt/bin/mcusage-plot
