server {
    listen 80;
    listen [::]:80;

    server_name {{ fqdn }};

    location / {
        return 301 https://$host$request_uri;
    }
}
server {
    listen 443 ssl http2;
    server_name {{ fqdn }};

    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{ fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ fqdn }}/privkey.pem;

    auth_basic           "{{ site }}";
    auth_basic_user_file /etc/nginx/.htpasswd_{{ site }};

    root /var/www/html;

    location /{{ site }}/ {
        include proxy_params;
        proxy_pass http://unix:{{ app_dir }}/{{ site }}.sock;
    }

}
