[Unit]
Description=uvicorn instance to serve {{ site }}
After=network.target

[Service]
User={{ app_owner }}
Group=root
WorkingDirectory={{ app_dir }}
Environment="PATH={{ app_dir }}/virt/bin"
Environment="DATABASE_URL=sqlite:///{{ app_dir }}/minecraft-usage.sqlite"
Environment="STATICDIR={{ app_dir }}/static"
ExecStart={{ app_dir }}/virt/bin/uvicorn --proxy-headers --forwarded-allow-ips='*' mcusage:app

[Install]
WantedBy=multi-user.target
